<!DOCTYPE html>
<html>
<head>
<title>AI Assistant</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body class="landing-body">

<nav>
    <div class="logo">🤖 AI Assistant</div>
    <div class="nav-btn" onclick="location.href='/chat'">Launch App</div>
</nav>

<section class="hero">
    <div class="hero-text">
        <h1>
            Download chatbot assistant <br>
            for every folder.
        </h1>
        <p>
            Build powerful AI apps with FastAPI and Groq LLM.
        </p>
        <button class="cta-btn" onclick="location.href='/chat'">
            Get Started →
        </button>
    </div>

    <div class="hero-img">
        <div class="glow"></div>
        <img src="https://cdn-icons-png.flaticon.com/512/4712/4712027.png">
    </div>
</section>

</body>
</html>
